=begin
#newlife-creator-api-eu-dev

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 2022-05-20T13:39:48Z

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.27

=end

require 'uri'

module SwaggerClient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param path 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auth_callback_path_get(path, opts = {})
      auth_callback_path_get_with_http_info(path, opts)
      nil
    end

    # @param path 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def auth_callback_path_get_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.auth_callback_path_get ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling DefaultApi.auth_callback_path_get"
      end
      # resource path
      local_var_path = '/auth/callback/{path+}'.sub('{' + 'path' + '}', path.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#auth_callback_path_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param path 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auth_callback_path_options(path, opts = {})
      auth_callback_path_options_with_http_info(path, opts)
      nil
    end

    # @param path 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def auth_callback_path_options_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.auth_callback_path_options ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling DefaultApi.auth_callback_path_options"
      end
      # resource path
      local_var_path = '/auth/callback/{path+}'.sub('{' + 'path' + '}', path.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#auth_callback_path_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param path 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auth_provider_path_get(path, opts = {})
      auth_provider_path_get_with_http_info(path, opts)
      nil
    end

    # @param path 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def auth_provider_path_get_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.auth_provider_path_get ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling DefaultApi.auth_provider_path_get"
      end
      # resource path
      local_var_path = '/auth/provider/{path+}'.sub('{' + 'path' + '}', path.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#auth_provider_path_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param path 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auth_provider_path_options(path, opts = {})
      auth_provider_path_options_with_http_info(path, opts)
      nil
    end

    # @param path 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def auth_provider_path_options_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.auth_provider_path_options ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling DefaultApi.auth_provider_path_options"
      end
      # resource path
      local_var_path = '/auth/provider/{path+}'.sub('{' + 'path' + '}', path.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#auth_provider_path_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def bcmaindaodldunstake_options(opts = {})
      bcmaindaodldunstake_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def bcmaindaodldunstake_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.bcmaindaodldunstake_options ...'
      end
      # resource path
      local_var_path = '/bcmaindaodldunstake'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#bcmaindaodldunstake_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_stake_main_dao_request 
    # @param [Hash] opts the optional parameters
    # @return [BcTxResponse]
    def bcmaindaodldunstake_post(bc_stake_main_dao_request, opts = {})
      data, _status_code, _headers = bcmaindaodldunstake_post_with_http_info(bc_stake_main_dao_request, opts)
      data
    end

    # @param bc_stake_main_dao_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BcTxResponse, Fixnum, Hash)>] BcTxResponse data, response status code and response headers
    def bcmaindaodldunstake_post_with_http_info(bc_stake_main_dao_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.bcmaindaodldunstake_post ...'
      end
      # verify the required parameter 'bc_stake_main_dao_request' is set
      if @api_client.config.client_side_validation && bc_stake_main_dao_request.nil?
        fail ArgumentError, "Missing the required parameter 'bc_stake_main_dao_request' when calling DefaultApi.bcmaindaodldunstake_post"
      end
      # resource path
      local_var_path = '/bcmaindaodldunstake'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_stake_main_dao_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BcTxResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#bcmaindaodldunstake_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def bcmaindaoinstunstake_options(opts = {})
      bcmaindaoinstunstake_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def bcmaindaoinstunstake_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.bcmaindaoinstunstake_options ...'
      end
      # resource path
      local_var_path = '/bcmaindaoinstunstake'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#bcmaindaoinstunstake_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_stake_pool_request 
    # @param [Hash] opts the optional parameters
    # @return [BcTxResponse]
    def bcmaindaoinstunstake_post(bc_stake_pool_request, opts = {})
      data, _status_code, _headers = bcmaindaoinstunstake_post_with_http_info(bc_stake_pool_request, opts)
      data
    end

    # @param bc_stake_pool_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BcTxResponse, Fixnum, Hash)>] BcTxResponse data, response status code and response headers
    def bcmaindaoinstunstake_post_with_http_info(bc_stake_pool_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.bcmaindaoinstunstake_post ...'
      end
      # verify the required parameter 'bc_stake_pool_request' is set
      if @api_client.config.client_side_validation && bc_stake_pool_request.nil?
        fail ArgumentError, "Missing the required parameter 'bc_stake_pool_request' when calling DefaultApi.bcmaindaoinstunstake_post"
      end
      # resource path
      local_var_path = '/bcmaindaoinstunstake'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_stake_pool_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BcTxResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#bcmaindaoinstunstake_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def bcmaindaostake_options(opts = {})
      bcmaindaostake_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def bcmaindaostake_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.bcmaindaostake_options ...'
      end
      # resource path
      local_var_path = '/bcmaindaostake'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#bcmaindaostake_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_stake_main_dao_request 
    # @param [Hash] opts the optional parameters
    # @return [BcTxResponse]
    def bcmaindaostake_post(bc_stake_main_dao_request, opts = {})
      data, _status_code, _headers = bcmaindaostake_post_with_http_info(bc_stake_main_dao_request, opts)
      data
    end

    # @param bc_stake_main_dao_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BcTxResponse, Fixnum, Hash)>] BcTxResponse data, response status code and response headers
    def bcmaindaostake_post_with_http_info(bc_stake_main_dao_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.bcmaindaostake_post ...'
      end
      # verify the required parameter 'bc_stake_main_dao_request' is set
      if @api_client.config.client_side_validation && bc_stake_main_dao_request.nil?
        fail ArgumentError, "Missing the required parameter 'bc_stake_main_dao_request' when calling DefaultApi.bcmaindaostake_post"
      end
      # resource path
      local_var_path = '/bcmaindaostake'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_stake_main_dao_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BcTxResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#bcmaindaostake_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id 
    # @return [MoodReadResponse]
    def folder_get(opts = {})
      data, _status_code, _headers = folder_get_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :id 
    # @return [Array<(MoodReadResponse, Fixnum, Hash)>] MoodReadResponse data, response status code and response headers
    def folder_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.folder_get ...'
      end
      # resource path
      local_var_path = '/folder'

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/html'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MoodReadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#folder_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def folder_options(opts = {})
      folder_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def folder_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.folder_options ...'
      end
      # resource path
      local_var_path = '/folder'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#folder_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def info_auth_get(opts = {})
      info_auth_get_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def info_auth_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.info_auth_get ...'
      end
      # resource path
      local_var_path = '/info-auth'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#info_auth_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def info_auth_options(opts = {})
      info_auth_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def info_auth_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.info_auth_options ...'
      end
      # resource path
      local_var_path = '/info-auth'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#info_auth_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def info_get(opts = {})
      info_get_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def info_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.info_get ...'
      end
      # resource path
      local_var_path = '/info'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#info_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def info_options(opts = {})
      info_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def info_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.info_options ...'
      end
      # resource path
      local_var_path = '/info'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#info_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def mood_attach_post_options(opts = {})
      mood_attach_post_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def mood_attach_post_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_attach_post_options ...'
      end
      # resource path
      local_var_path = '/mood/attach/post'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_attach_post_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param mood_attach_request 
    # @param [Hash] opts the optional parameters
    # @return [PostReadResponse]
    def mood_attach_post_put(mood_attach_request, opts = {})
      data, _status_code, _headers = mood_attach_post_put_with_http_info(mood_attach_request, opts)
      data
    end

    # @param mood_attach_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostReadResponse, Fixnum, Hash)>] PostReadResponse data, response status code and response headers
    def mood_attach_post_put_with_http_info(mood_attach_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_attach_post_put ...'
      end
      # verify the required parameter 'mood_attach_request' is set
      if @api_client.config.client_side_validation && mood_attach_request.nil?
        fail ArgumentError, "Missing the required parameter 'mood_attach_request' when calling DefaultApi.mood_attach_post_put"
      end
      # resource path
      local_var_path = '/mood/attach/post'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(mood_attach_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PostReadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_attach_post_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id 
    # @return [MoodReadResponse]
    def mood_get(opts = {})
      data, _status_code, _headers = mood_get_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :id 
    # @return [Array<(MoodReadResponse, Fixnum, Hash)>] MoodReadResponse data, response status code and response headers
    def mood_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_get ...'
      end
      # resource path
      local_var_path = '/mood'

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/html'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MoodReadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :content_type 
    # @option opts [String] :page 
    # @option opts [String] :order_by 
    # @return [MoodPagedListReadPublicResponse]
    def mood_list_top_get(opts = {})
      data, _status_code, _headers = mood_list_top_get_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :content_type 
    # @option opts [String] :page 
    # @option opts [String] :order_by 
    # @return [Array<(MoodPagedListReadPublicResponse, Fixnum, Hash)>] MoodPagedListReadPublicResponse data, response status code and response headers
    def mood_list_top_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_list_top_get ...'
      end
      # resource path
      local_var_path = '/mood/list/top'

      # query parameters
      query_params = {}
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'contentType'] = opts[:'content_type'] if !opts[:'content_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MoodPagedListReadPublicResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_list_top_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def mood_list_top_options(opts = {})
      mood_list_top_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def mood_list_top_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_list_top_options ...'
      end
      # resource path
      local_var_path = '/mood/list/top'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_list_top_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def mood_options(opts = {})
      mood_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def mood_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_options ...'
      end
      # resource path
      local_var_path = '/mood'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param mood_create_request 
    # @param [Hash] opts the optional parameters
    # @return [MoodCreateResponse]
    def mood_post(mood_create_request, opts = {})
      data, _status_code, _headers = mood_post_with_http_info(mood_create_request, opts)
      data
    end

    # @param mood_create_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MoodCreateResponse, Fixnum, Hash)>] MoodCreateResponse data, response status code and response headers
    def mood_post_with_http_info(mood_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_post ...'
      end
      # verify the required parameter 'mood_create_request' is set
      if @api_client.config.client_side_validation && mood_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'mood_create_request' when calling DefaultApi.mood_post"
      end
      # resource path
      local_var_path = '/mood'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(mood_create_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MoodCreateResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id 
    # @option opts [String] :page 
    # @return [MoodListAttachedPostsResponse]
    def mood_posts_get(opts = {})
      data, _status_code, _headers = mood_posts_get_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :id 
    # @option opts [String] :page 
    # @return [Array<(MoodListAttachedPostsResponse, Fixnum, Hash)>] MoodListAttachedPostsResponse data, response status code and response headers
    def mood_posts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_posts_get ...'
      end
      # resource path
      local_var_path = '/mood/posts'

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MoodListAttachedPostsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_posts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def mood_posts_options(opts = {})
      mood_posts_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def mood_posts_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_posts_options ...'
      end
      # resource path
      local_var_path = '/mood/posts'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_posts_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param mood_update_request 
    # @param [Hash] opts the optional parameters
    # @return [MoodReadResponse]
    def mood_put(mood_update_request, opts = {})
      data, _status_code, _headers = mood_put_with_http_info(mood_update_request, opts)
      data
    end

    # @param mood_update_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MoodReadResponse, Fixnum, Hash)>] MoodReadResponse data, response status code and response headers
    def mood_put_with_http_info(mood_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_put ...'
      end
      # verify the required parameter 'mood_update_request' is set
      if @api_client.config.client_side_validation && mood_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'mood_update_request' when calling DefaultApi.mood_put"
      end
      # resource path
      local_var_path = '/mood'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(mood_update_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MoodReadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def mood_rate_options(opts = {})
      mood_rate_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def mood_rate_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_rate_options ...'
      end
      # resource path
      local_var_path = '/mood/rate'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_rate_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param rating_update_request 
    # @param [Hash] opts the optional parameters
    # @return [RatingUpdateResponse]
    def mood_rate_post(rating_update_request, opts = {})
      data, _status_code, _headers = mood_rate_post_with_http_info(rating_update_request, opts)
      data
    end

    # @param rating_update_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RatingUpdateResponse, Fixnum, Hash)>] RatingUpdateResponse data, response status code and response headers
    def mood_rate_post_with_http_info(rating_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_rate_post ...'
      end
      # verify the required parameter 'rating_update_request' is set
      if @api_client.config.client_side_validation && rating_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'rating_update_request' when calling DefaultApi.mood_rate_post"
      end
      # resource path
      local_var_path = '/mood/rate'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(rating_update_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RatingUpdateResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_rate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def mood_upload_options(opts = {})
      mood_upload_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def mood_upload_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_upload_options ...'
      end
      # resource path
      local_var_path = '/mood/upload'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_upload_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param upload_request_generic 
    # @param [Hash] opts the optional parameters
    # @return [UploadResponse]
    def mood_upload_post(upload_request_generic, opts = {})
      data, _status_code, _headers = mood_upload_post_with_http_info(upload_request_generic, opts)
      data
    end

    # @param upload_request_generic 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadResponse, Fixnum, Hash)>] UploadResponse data, response status code and response headers
    def mood_upload_post_with_http_info(upload_request_generic, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.mood_upload_post ...'
      end
      # verify the required parameter 'upload_request_generic' is set
      if @api_client.config.client_side_validation && upload_request_generic.nil?
        fail ArgumentError, "Missing the required parameter 'upload_request_generic' when calling DefaultApi.mood_upload_post"
      end
      # resource path
      local_var_path = '/mood/upload'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(upload_request_generic)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'UploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#mood_upload_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def newcoin_bcaccopen_options(opts = {})
      newcoin_bcaccopen_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def newcoin_bcaccopen_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcaccopen_options ...'
      end
      # resource path
      local_var_path = '/newcoin/bcaccopen'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcaccopen_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_acc_create_request 
    # @param [Hash] opts the optional parameters
    # @return [BcTxResponse]
    def newcoin_bcaccopen_post(bc_acc_create_request, opts = {})
      data, _status_code, _headers = newcoin_bcaccopen_post_with_http_info(bc_acc_create_request, opts)
      data
    end

    # @param bc_acc_create_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BcTxResponse, Fixnum, Hash)>] BcTxResponse data, response status code and response headers
    def newcoin_bcaccopen_post_with_http_info(bc_acc_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcaccopen_post ...'
      end
      # verify the required parameter 'bc_acc_create_request' is set
      if @api_client.config.client_side_validation && bc_acc_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'bc_acc_create_request' when calling DefaultApi.newcoin_bcaccopen_post"
      end
      # resource path
      local_var_path = '/newcoin/bcaccopen'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_acc_create_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BcTxResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcaccopen_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def newcoin_bcautheth_options(opts = {})
      newcoin_bcautheth_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def newcoin_bcautheth_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcautheth_options ...'
      end
      # resource path
      local_var_path = '/newcoin/bcautheth'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcautheth_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_auth_eth_request 
    # @param [Hash] opts the optional parameters
    # @return [BcAuthEthResponse]
    def newcoin_bcautheth_post(bc_auth_eth_request, opts = {})
      data, _status_code, _headers = newcoin_bcautheth_post_with_http_info(bc_auth_eth_request, opts)
      data
    end

    # @param bc_auth_eth_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BcAuthEthResponse, Fixnum, Hash)>] BcAuthEthResponse data, response status code and response headers
    def newcoin_bcautheth_post_with_http_info(bc_auth_eth_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcautheth_post ...'
      end
      # verify the required parameter 'bc_auth_eth_request' is set
      if @api_client.config.client_side_validation && bc_auth_eth_request.nil?
        fail ArgumentError, "Missing the required parameter 'bc_auth_eth_request' when calling DefaultApi.newcoin_bcautheth_post"
      end
      # resource path
      local_var_path = '/newcoin/bcautheth'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_auth_eth_request)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BcAuthEthResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcautheth_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def newcoin_bccolcreate_options(opts = {})
      newcoin_bccolcreate_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def newcoin_bccolcreate_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bccolcreate_options ...'
      end
      # resource path
      local_var_path = '/newcoin/bccolcreate'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bccolcreate_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_collection_create_request 
    # @param [Hash] opts the optional parameters
    # @return [BcTxResponse]
    def newcoin_bccolcreate_post(bc_collection_create_request, opts = {})
      data, _status_code, _headers = newcoin_bccolcreate_post_with_http_info(bc_collection_create_request, opts)
      data
    end

    # @param bc_collection_create_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BcTxResponse, Fixnum, Hash)>] BcTxResponse data, response status code and response headers
    def newcoin_bccolcreate_post_with_http_info(bc_collection_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bccolcreate_post ...'
      end
      # verify the required parameter 'bc_collection_create_request' is set
      if @api_client.config.client_side_validation && bc_collection_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'bc_collection_create_request' when calling DefaultApi.newcoin_bccolcreate_post"
      end
      # resource path
      local_var_path = '/newcoin/bccolcreate'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_collection_create_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BcTxResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bccolcreate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def newcoin_bcgetacc_options(opts = {})
      newcoin_bcgetacc_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def newcoin_bcgetacc_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcgetacc_options ...'
      end
      # resource path
      local_var_path = '/newcoin/bcgetacc'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcgetacc_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_get_account_info 
    # @param [Hash] opts the optional parameters
    # @return [BcGetInfoResp]
    def newcoin_bcgetacc_post(bc_get_account_info, opts = {})
      data, _status_code, _headers = newcoin_bcgetacc_post_with_http_info(bc_get_account_info, opts)
      data
    end

    # @param bc_get_account_info 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BcGetInfoResp, Fixnum, Hash)>] BcGetInfoResp data, response status code and response headers
    def newcoin_bcgetacc_post_with_http_info(bc_get_account_info, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcgetacc_post ...'
      end
      # verify the required parameter 'bc_get_account_info' is set
      if @api_client.config.client_side_validation && bc_get_account_info.nil?
        fail ArgumentError, "Missing the required parameter 'bc_get_account_info' when calling DefaultApi.newcoin_bcgetacc_post"
      end
      # resource path
      local_var_path = '/newcoin/bcgetacc'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_get_account_info)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BcGetInfoResp')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcgetacc_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def newcoin_bcgetpool_options(opts = {})
      newcoin_bcgetpool_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def newcoin_bcgetpool_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcgetpool_options ...'
      end
      # resource path
      local_var_path = '/newcoin/bcgetpool'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcgetpool_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_get_pool_info 
    # @param [Hash] opts the optional parameters
    # @return [BcGetInfoResp]
    def newcoin_bcgetpool_post(bc_get_pool_info, opts = {})
      data, _status_code, _headers = newcoin_bcgetpool_post_with_http_info(bc_get_pool_info, opts)
      data
    end

    # @param bc_get_pool_info 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BcGetInfoResp, Fixnum, Hash)>] BcGetInfoResp data, response status code and response headers
    def newcoin_bcgetpool_post_with_http_info(bc_get_pool_info, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcgetpool_post ...'
      end
      # verify the required parameter 'bc_get_pool_info' is set
      if @api_client.config.client_side_validation && bc_get_pool_info.nil?
        fail ArgumentError, "Missing the required parameter 'bc_get_pool_info' when calling DefaultApi.newcoin_bcgetpool_post"
      end
      # resource path
      local_var_path = '/newcoin/bcgetpool'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_get_pool_info)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BcGetInfoResp')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcgetpool_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def newcoin_bckeypair_options(opts = {})
      newcoin_bckeypair_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def newcoin_bckeypair_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bckeypair_options ...'
      end
      # resource path
      local_var_path = '/newcoin/bckeypair'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bckeypair_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_key_pair_create_request 
    # @param [Hash] opts the optional parameters
    # @return [BcKeyPairCreateResponse]
    def newcoin_bckeypair_post(bc_key_pair_create_request, opts = {})
      data, _status_code, _headers = newcoin_bckeypair_post_with_http_info(bc_key_pair_create_request, opts)
      data
    end

    # @param bc_key_pair_create_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BcKeyPairCreateResponse, Fixnum, Hash)>] BcKeyPairCreateResponse data, response status code and response headers
    def newcoin_bckeypair_post_with_http_info(bc_key_pair_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bckeypair_post ...'
      end
      # verify the required parameter 'bc_key_pair_create_request' is set
      if @api_client.config.client_side_validation && bc_key_pair_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'bc_key_pair_create_request' when calling DefaultApi.newcoin_bckeypair_post"
      end
      # resource path
      local_var_path = '/newcoin/bckeypair'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_key_pair_create_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BcKeyPairCreateResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bckeypair_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def newcoin_bcmintasset_options(opts = {})
      newcoin_bcmintasset_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def newcoin_bcmintasset_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcmintasset_options ...'
      end
      # resource path
      local_var_path = '/newcoin/bcmintasset'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcmintasset_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_mint_asset_request 
    # @param [Hash] opts the optional parameters
    # @return [BcTxResponse]
    def newcoin_bcmintasset_post(bc_mint_asset_request, opts = {})
      data, _status_code, _headers = newcoin_bcmintasset_post_with_http_info(bc_mint_asset_request, opts)
      data
    end

    # @param bc_mint_asset_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BcTxResponse, Fixnum, Hash)>] BcTxResponse data, response status code and response headers
    def newcoin_bcmintasset_post_with_http_info(bc_mint_asset_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcmintasset_post ...'
      end
      # verify the required parameter 'bc_mint_asset_request' is set
      if @api_client.config.client_side_validation && bc_mint_asset_request.nil?
        fail ArgumentError, "Missing the required parameter 'bc_mint_asset_request' when calling DefaultApi.newcoin_bcmintasset_post"
      end
      # resource path
      local_var_path = '/newcoin/bcmintasset'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_mint_asset_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BcTxResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcmintasset_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def newcoin_bcpoolcreate_options(opts = {})
      newcoin_bcpoolcreate_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def newcoin_bcpoolcreate_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcpoolcreate_options ...'
      end
      # resource path
      local_var_path = '/newcoin/bcpoolcreate'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcpoolcreate_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_pool_create_request 
    # @param [Hash] opts the optional parameters
    # @return [BcTxResponse]
    def newcoin_bcpoolcreate_post(bc_pool_create_request, opts = {})
      data, _status_code, _headers = newcoin_bcpoolcreate_post_with_http_info(bc_pool_create_request, opts)
      data
    end

    # @param bc_pool_create_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BcTxResponse, Fixnum, Hash)>] BcTxResponse data, response status code and response headers
    def newcoin_bcpoolcreate_post_with_http_info(bc_pool_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcpoolcreate_post ...'
      end
      # verify the required parameter 'bc_pool_create_request' is set
      if @api_client.config.client_side_validation && bc_pool_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'bc_pool_create_request' when calling DefaultApi.newcoin_bcpoolcreate_post"
      end
      # resource path
      local_var_path = '/newcoin/bcpoolcreate'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_pool_create_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BcTxResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcpoolcreate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def newcoin_bcpoolstake_options(opts = {})
      newcoin_bcpoolstake_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def newcoin_bcpoolstake_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcpoolstake_options ...'
      end
      # resource path
      local_var_path = '/newcoin/bcpoolstake'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcpoolstake_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_stake_pool_request 
    # @param [Hash] opts the optional parameters
    # @return [BcTxResponse]
    def newcoin_bcpoolstake_post(bc_stake_pool_request, opts = {})
      data, _status_code, _headers = newcoin_bcpoolstake_post_with_http_info(bc_stake_pool_request, opts)
      data
    end

    # @param bc_stake_pool_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BcTxResponse, Fixnum, Hash)>] BcTxResponse data, response status code and response headers
    def newcoin_bcpoolstake_post_with_http_info(bc_stake_pool_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_bcpoolstake_post ...'
      end
      # verify the required parameter 'bc_stake_pool_request' is set
      if @api_client.config.client_side_validation && bc_stake_pool_request.nil?
        fail ArgumentError, "Missing the required parameter 'bc_stake_pool_request' when calling DefaultApi.newcoin_bcpoolstake_post"
      end
      # resource path
      local_var_path = '/newcoin/bcpoolstake'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_stake_pool_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BcTxResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_bcpoolstake_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def newcoin_dao_create_options(opts = {})
      newcoin_dao_create_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def newcoin_dao_create_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_dao_create_options ...'
      end
      # resource path
      local_var_path = '/newcoin/dao/create'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_dao_create_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_create_dao_request 
    # @param [Hash] opts the optional parameters
    # @return [BcCreateDaoResponse]
    def newcoin_dao_create_post(bc_create_dao_request, opts = {})
      data, _status_code, _headers = newcoin_dao_create_post_with_http_info(bc_create_dao_request, opts)
      data
    end

    # @param bc_create_dao_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BcCreateDaoResponse, Fixnum, Hash)>] BcCreateDaoResponse data, response status code and response headers
    def newcoin_dao_create_post_with_http_info(bc_create_dao_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_dao_create_post ...'
      end
      # verify the required parameter 'bc_create_dao_request' is set
      if @api_client.config.client_side_validation && bc_create_dao_request.nil?
        fail ArgumentError, "Missing the required parameter 'bc_create_dao_request' when calling DefaultApi.newcoin_dao_create_post"
      end
      # resource path
      local_var_path = '/newcoin/dao/create'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_create_dao_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BcCreateDaoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_dao_create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def newcoin_dao_proposal_approve_options(opts = {})
      newcoin_dao_proposal_approve_options_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def newcoin_dao_proposal_approve_options_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_dao_proposal_approve_options ...'
      end
      # resource path
      local_var_path = '/newcoin/dao/proposal/approve'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:OPTIONS, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_dao_proposal_approve_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param bc_approve_dao_proposal_request 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def newcoin_dao_proposal_approve_post(bc_approve_dao_proposal_request, opts = {})
      newcoin_dao_proposal_approve_post_with_http_info(bc_approve_dao_proposal_request, opts)
      nil
    end

    # @param bc_approve_dao_proposal_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def newcoin_dao_proposal_approve_post_with_http_info(bc_approve_dao_proposal_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_dao_proposal_approve_post ...'
      end
      # verify the required parameter 'bc_approve_dao_proposal_request' is set
      if @api_client.config.client_side_validation && bc_approve_dao_proposal_request.nil?
        fail ArgumentError, "Missing the required parameter 'bc_approve_dao_proposal_request' when calling DefaultApi.newcoin_dao_proposal_approve_post"
      end
      # resource path
      local_var_path = '/newcoin/dao/proposal/approve'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bc_approve_dao_proposal_request)
      auth_names = ['newlife-creator-api-eu-dev']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#newcoin_dao_proposal_approve_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :proposal_author 
    # @option opts [String] :dao_owner 
    # @option opts [String] :dao_id 
    # @option opts [String] :id 
    # @return [BcListDaoProposalsResponse]
    def newcoin_dao_proposal_list_get(opts = {})
      data, _status_code, _headers = newcoin_dao_proposal_list_get_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :proposal_author 
    # @option opts [String] :dao_owner 
    # @option opts [String] :dao_id 
    # @option opts [String] :id 
    # @return [Array<(BcListDaoProposalsResponse, Fixnum, Hash)>] BcListDaoProposalsResponse data, response status code and response headers
    def newcoin_dao_proposal_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.newcoin_dao_proposal_list_get ...'
      end
      # resource path
      local_var_path = '/newcoin/dao/proposal/list'

      # query parameters
      query_params = {}
      query_params[:'proposalAuthor'] = opts[:'proposal_author'] if !opts[:'proposal_author'].nil?
      query_params[:'dao_owner'] = opts[:'dao_owner'] if !opts[:'dao_owner'].nil?
      query_params[:'dao_id'] = opts[:'dao_id'] if !opts[:'dao_id'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
[...]
